nav{
    position:sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 10000000;
}

.nav{
    position: relative;
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(206, 203, 203);
    height: 70px;
    align-items: center;
    align-content: center;
}
.buscador{
    position: absolute;
    right: 15%;
    top: 20%;
}
.logo{
    margin: 1.5%;

}
#iconoCarrito{
    position: absolute;
    right: 5%;
    top: 25%;
}

.imgPrincipal{
    padding-bottom: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    grid-area: hed5;
}
.nombres{
    font-size: 20%;
    font-weight: 20%;
}