*{
    margin: 0%;
    padding: 0%;
}
header{
    position: relative;
}
h1{
    position: absolute;
    bottom: 50%;
    top: 40%;
    left: 75%;
    font-weight: 650;
    font-size: 50px;
    font-style:italic;
    z-index: 0;
}
/*Forma del Nav*/
nav{
    position:sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 10000000;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(206, 203, 203);
    height: 70px;
}
.buscador{
    margin: 5%;
}
.logo{
    margin: 1.5%;

}
/* .Changuito{
    grid-area: hed3;
}
.Nav{
    grid-area: hed4;
} */
.imgPrincipal{
    padding-bottom: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1350px;
    grid-area: hed5;
}

/*Hubicacionde los productos en el INDEX*/
.imgProductos{
    height: 200px;
    width: 180px;
}
.Padre1{
    position: relative;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 400px 400px;
    grid-template-areas: "a1 a2 a3 a4 a5"
                         "a1 a6 a7 a8 a9";
}
.imgLabial1{
    grid-area: a2;
}
.imgLabial2{
    grid-area: a3;
}
.imgLabial3{
    grid-area: a4;
}
.imgLabial4{
    grid-area: a5;
}

.imgSombra1{
    grid-area: a6;
}
.imgSombra2{
    grid-area: a7;
}
.imgSombra3{
    grid-area: a8;
}
.imgSombra4{
    grid-area: a9;
}
.RecuadroImagenes{
    position: relative;
    border-color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    max-height: 250px;
    max-width: 200px;
}

/* DESCUENTO DE IMG */

.off{
    position: absolute;
    bottom: 80%;
    left: 65%;
    background-color: rgb(194, 107, 73);
    color: whitesmoke;
}
#BtnProductos{
    background-color: rgb(179, 174, 174);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

/*Bienvenido....*NOMBRE**/
.Nombres{
    position: absolute;
    bottom: 50%;
    top: 40%;
    left: 75%;
    font-weight: 650;
    font-size: 50px;
    font-style:italic;
    z-index: 0;
}